<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esraa.CancerJourneyApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctorimage"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.esraa.CancerJourney.OCR.OcrActivity"
            android:exported="false" />
        <activity
            android:name="com.esraa.CancerJourney.SkinDetection.SkinActivity"
            android:exported="false" />

        <service android:name="com.esraa.CancerJourney.Utilities.MyFirebaseMessagingService">
            <intent-filter android:priority="1">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.esraa.CancerJourney.ui.Search.SearchResultsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.esraa.CancerJourney.ui.Search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.esraa.CancerJourney.ui.OnBoarding.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.esraa.CancerJourney.ui.HospitalProfile.HospitalProfileActivity" />
        <activity android:name="com.esraa.CancerJourney.ui.EditProfile.EditProfileActivity" />
        <activity android:name="com.esraa.CancerJourney.ui.OnBoarding.HomeActivity" />
        <activity
            android:name="com.esraa.CancerJourney.ui.Hospital.HospitalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.esraa.CancerJourney.ui.Auth.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.esraa.CancerJourney.ui.DoctorsProfile.DoctorsProfileActivity" />
        <activity android:name="com.esraa.CancerJourney.ui.Notification.NotificationActivity" />
        <activity android:name="com.esraa.CancerJourney.ui.Profile.ProfileActivity" />
        <activity
            android:name="com.esraa.CancerJourney.ui.Appointments.AppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esraa.CancerJourney.ui.AppointmentBooking.BookAppointmentActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.esraa.CancerJourney.ui.DoctorsActivity.DoctorsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.esraa.CancerJourney.ui.Welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.esraa.CancerJourney.ui.Auth.Registration.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.esraa.CancerJourney.ui.Auth.LoginActivity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>